* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


/***HEADER
********************************/
.header {
    width: 100%;
    height: 80vh;
    background-image: url("../img/banner1.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
}
.nav-header {
    display: flex;
    width: 90%;
    background-color: rgba(255, 255, 255, .3);
    grid-row: 1/2;
    height: 60%;
    align-self: center;
    justify-self: center;
    position: relative;
}
.div-logo {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.span-logo {
    color: white;
    font-size: 1.5625rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 10%;
}
.div-logo__icon {
    font-size: 1.5625rem;
    color: #00bcd1;
}
.ul-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
    height: 35vh;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
}
.ul-nav__links {
    color: #333333;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.menu-icon {
    position: absolute;
    right: 0;
    font-size: 1.5625rem;
    color: #fff;
    background-color: #00bcd1;
    width: 15%;
    height: 85%;
    align-self: center;
}
.invisible {
    display: none;
}
.visible {
    display: flex;
}
.h1 {
    color: #fff;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    grid-row: 2/3;
    margin-bottom: 10px;
}
.header__p {
    line-height: 1.8;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    margin: 0 auto;
    letter-spacing: .5;
    width: 90%;
}
/***SECTION MISION VISION VALORES
**********************************************/
.section-mision-vision-valores {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    padding: 3%;
}
.h2 {
    text-transform: capitalize;
    font-size: 1.5rem;
    letter-spacing: 1px;
    grid-row: 1/2;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    text-align: center;
}
.caracteristicas {
    width: 100%;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
}
.caracteristicas p {
    text-transform: capitalize;
}
.mision,
.vision,
.valor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 33.3333%;
    border-bottom: 0.5px solid #999;
    cursor: pointer;
}
.seleccionado {
    color: #ef6926;
    border-top: 3px solid #ef6926;
    border-left: 3px solid #ef6926;
    border-right: 3px solid #ef6926;
}
ion-icon[name="cog"] {
    vertical-align: middle;
}
.caracteristica-texto {
    display: flex;
    flex-direction: column;
}
.h4 {
    font-size: 1.25rem;
    margin-bottom: 5%;
}
.texto-caracteristica {
    color: #777;
    line-height: 1.5;
    letter-spacing: .5px;
    font-size: 1.0625rem;
    margin-bottom: 6%;
}

.figure {
    width: 100%;
}

img {
    width: 100%;
}
/***SECTION SERVICES
******************************************/
.section-services {
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
.section-services .h2 {
    grid-row: 1/2;
    grid-column: 1/2;
}
.texto-services {
    line-height: 1.5;
    color: #777;
    font-size: 1.0625rem;
    letter-spacing: .5px;
    grid-row: 2/3;
    margin-bottom: 10%;
}
.div-service {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 2%;
    margin-bottom: 10%;
}
.service-icon {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self:  center;
    font-size: 2.1875rem;
    border-radius: 50%;
}
.h3 {
    text-transform: capitalize;
    font-size: 1.5625rem;
    font-weight: 300;
}
.div-service .h3 {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: start;
    align-self: center;
    color: #333;
}
.service-descrip {
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 1.8;
    color: #777;
    font-size: 1.0625rem;
}
.service-wave {
    color: #fff;
    background-color: aquamarine;
    border: 3px solid aqua;
}
.service-sea {
    color: purple;
    font-size: 2.5rem;
}
.service-surfing {
    color: orangered;
    font-size: 2.5rem;
}
.service-diving {
    color: blue;
    font-size: 2.5rem;
}
/***SECTION CHOOSE US
************************************************/
.section-choose-us {
    background-color: #EF6926;
    width: 100%;
    display: flex;
}
.wrapper-choose-us {
    width: 90%;
    background-color: #fff;
    margin: 12% auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    justify-items: center;
    box-shadow: 5px 6px 30px black;
    padding: 40px 10px;
}
.wrapper-choose-us .h2 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.icon-choose-us {
    font-size: 1.875rem;
    border-radius: 50%;
    padding: 2px;
    align-self: flex-start;
    grid-column: 1/2;
    margin-top: 15px;
}
.icon-choose-one {
    color: #fff;
    background-color: #30C39E;
    border: 3px solid rgb(33, 163, 131);
}
.icon-choose-two {
    color: orangered;
    font-size: 2.5rem;
}
.icon-choose-three {
    color: blue;
    font-size: 2.5rem;
}
.wrapper-choose-us .h3 {
    color: #333;
    grid-column: 1/2;
    align-self: center;
    font-weight: bold;
}
.p-choose-us {
    color: #777;
    line-height: 1.6;
    align-self: center;
    justify-self: center;
    grid-column: 1/2;
    text-align: center;
}
/***SECTION CLUB FACTS
***********************************************/
.section-club-facts {
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 2fr repeat(4, 2fr);
    grid-gap: 30px;
}
.texto-club-facts {
    line-height: 1.7;
    font-size: 1.0625rem;
    color: #777;
    letter-spacing: 1px;
    text-align: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
}
.div-fact {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 6px 6px 10px  rgb(210, 217, 238);
}
.div-fact:last-child {
    margin-bottom: 20%;
}
.h4 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.25rem;
}
.span-number-fact {
    color: #ef6926;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: bolder;
}
.p-fact {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/***SECTION SUBSCRIBE
*************************************************/
.section-subscribe {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr repeat(5, .5fr ) 2fr;
    background-image: url(../img/banner1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 3%;
}
.texto-subscribe {
    grid-column: 1/2;
    grid-row: 1/2;
    letter-spacing: .5px;
    line-height: 1.7;
    color: #ddd;
    font-size: 1.0625rem;
    align-self: center;
}
.p-suscribe {
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
}
.p-suscribe ion-icon {
    font-size: 1.375rem;
    margin-right: 20px;
}
.section-subscribe .h2 {
    grid-column: 1/2;
    grid-row: 5/6;
    color: #eee;
    text-align: start;
}
.texto-subscribe-form {
    grid-column: 1/2;
    grid-row: 6/7;
    letter-spacing: .5px;
    line-height: 1.7;
    color: #ddd;
    font-size: 1.0625rem;
    align-self: center;
}
.form {
    width: 100%;
    margin-bottom: 15%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 7/8;
    grid-column-gap: 2px;
    grid-row-gap: 5px;
}
input[type="text"] {
    width: 100%;
    background-color: #fff;
    font-size: 0.875rem;
    color: #333;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
}
input[type="text"]:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
}
input[type="text"]:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
}
.btn-submit {
    grid-column: 1/3;
    grid-row: 2/3;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    background-color: #ef6926;
    font-size: 0.9375rem;
    border: none;
}
/***SECTION TESTIMONIALS
**************************************************/
.section-testimonials {
    width: 100%;
    padding: 3% 0 3% 3%;
    display: flex;
    flex-direction: column;
}
.div-testimonial {
    width: 100%;
    box-shadow: 6px 6px 10px rgb(210, 217, 238);
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
}
.div-testimonial .figure {
    width: 100%;
}
.div-testimonial .figure img {
    width: 100%;
}
blockquote {
    color: #777;
    line-height: 1.8;
    letter-spacing: .5px;
    padding: 3%;
    margin-top: 5%;
    font-size: 1.0625rem;
    margin-bottom: 5%;
}
.quote {
    color: #EF6926;
    font-size: 1.375rem;
}
.p-name-customer {
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 1.1875rem;
    margin-bottom: 2%;
    margin-left: 3%;
}
.p-customer-descrip {
    color: #777;
    font-size: 0.875rem;
    text-transform: capitalize;
    letter-spacing: .5px;
    margin-left: 3%;
    margin-bottom: 12%;
}
/***FOOTER
*******************************************/
.footer {
    width: 100%;
    background-color: #222;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, .5fr);
    justify-items: center;
    align-items: center;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 7%;
    margin-top: 7%;
}
.go-top {
    color: #777;
    display: flex;
    align-items: center;
    margin-bottom: 7%;
}
.go-top ion-icon {
    font-size: 1.875rem;
}
.ul-footer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 7%;
}
.footer-link {
    text-decoration: none;
    color: #777;
    cursor: pointer;
}
.copyright {
    color: #777;
    font-size: 1.0625rem;
    text-transform: capitalize;
    margin-bottom: 7%;
}