* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;;
}



/***HEADER
********************************/
.header {
    width: 100%;
    height: 80vh;
    background-image: url("../img/banner1.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
}
.nav-header {
    display: flex;
    width: 90%;
    background-color: rgba(255, 255, 255, .3);
    grid-row: 1/2;
    height: 60%;
    align-self: center;
    justify-self: center;
    position: relative;
}
.div-logo {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.span-logo {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
}
.div-logo__icon {
    font-size: 25px;
    color: #00bcd1;
}
.ul-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
    height: 35vh;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
}
.ul-nav__links {
    color: #333333;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.menu-icon {
    position: absolute;
    right: 0;
    font-size: 25px;
    color: #333333;
    background-color: #fff;
    width: 15%;
    height: 85%;
    align-self: center;
}
.invisible {
    display: none;
}
.h1 {
    color: #fff;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 32px;
    grid-row: 2/3;
    margin-bottom: 10px;
}
.header__p {
    line-height: 1.8;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: .5;
    width: 90%;
}
