/********************************/
/**********IPAD 768X1024********/
/*******************************/
@media screen and (min-width: 768px){
    html {
        font-size: 20px;
    }
    /***HEADER
    ********************************/
    .header {
        height: 80vh;
    }
    .nav-header {
        height: 40%;
    }
    .div-logo {
        width: 30%;
    }
    .span-logo {
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .menu-icon {
        width: 6%;
    }
    .h1 {
        /*font-size: 45px;*/
        letter-spacing: 2px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .ul-nav {
        height: 25vh;
    }
    .header__p {
        width: 85%;
    }

    /***SECTION MISION VISION VALORES
    *******************************************/
    .section-mision-vision-valores {
        grid-template-rows: .1fr .1fr 1fr;
    }
    .caracteristicas {
        margin-bottom: 3%;
    }
    .h4 {
        margin-bottom: 3%;
    }
    .texto-caracteristica {
        margin-bottom: 3%;
    }
    /***SERVICES
    *****************************************/
    .section-services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr;
    }
    .section-services .h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .texto-services {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    /***SECTION CHOOSE-US
    ****************************************/
    .wrapper-choose-us {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
        height: 50vh;
        grid-gap: 2%;
        margin: 6% auto;
    }
    .wrapper-choose-us .h2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .icon-choose-one {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .icon-choose-two {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .icon-choose-three {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .wrapper-choose-us .h3:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.25rem;
        text-align: center;
    }
    .wrapper-choose-us .h3:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 1.25rem;
        text-align: center;
    }
    .wrapper-choose-us .h3:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 3/4;
        font-size: 1.25rem;
        text-align: center;
    }
    .p-choose-us:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 0.9rem;
    }
    .p-choose-us:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 4/5;
        font-size: 0.9rem;
    }
    .p-choose-us:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 4/5;
        font-size: 0.9rem;
    }
    /***SECTION CLUB FACTS
    ****************************************/
    .section-club-facts {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .5fr 1fr 1fr;
        grid-gap: 20px;
    }
    .section-club-facts .h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .texto-club-facts {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .div-fact:last-child,
    .div-fact:nth-of-type(3) {
        margin-bottom: 20%;
    }
    /***SECTION SUBSCRIBE
    **************************************/
    .section-subscribe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .texto-subscribe {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .p-suscribe {
        margin-bottom: 2%;
    }
    .section-subscribe .h2 {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .texto-subscribe-form {
        font-size: 0.9rem;
        align-self: flex-start;
    }
    .form {
        margin: 3% 0;
        height: 100px;
    }
    /***SECTION TESTIMONIALS
    ****************************************/
    .div-testimonial {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr .5fr .5fr; 
    }
    .div-testimonial .figure {
        width: 90%;
        grid-column: 1/2;
        grid-row: 1/4;
    }
    blockquote {
        font-size: 0.85rem;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 0;
        align-self: center;
    }
    .p-name-customer {
        font-size: 1.15rem;
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: center;
    }
    .p-customer-descrip {
        font-size: 0.85rem;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .div-testimonial:last-child {
        margin-bottom: 8%;
    }
    /***FOOTER
    ******************************/
    .footer-logo {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .go-top {
        margin-bottom: 5%;
    }
    .ul-footer {
        width: 40%;
        margin-bottom: 5%;
    }
    .copyright {
        margin-bottom: 5%;
        font-size: 0.9rem;
    }
}


/***********************************************/
/**************A PARTIR DE LOS 992PX***********/
/**********************************************/
@media screen and (min-width: 992px) {
    html {
        font-size: 17px;
    }
    /***HEADER
    ********************************/
    .header {
        height: 70vh;
        grid-template-rows: 1fr 30% 1fr 1fr;
    }
    .nav-header {
        justify-content: space-between;
        max-width: 1000px;
    }
    .span-logo {
        margin-bottom: 25%;
        margin-top: 25%;
        font-size: 2rem;
    }
    .div-logo {
        width: 25%;
    }
    .div-logo__icon {
        font-size: 2.5rem;
    }
    .ul-nav {
        display: flex;
        width: 50%;
        flex-direction: row;
        height: 100%;
        background-color: transparent;
        position: unset;
        justify-content: space-around;
    }
    .menu-icon {
        display: none;
    }
    .ul-nav__links {
        color: #fff;
    }
    .h1 {
        font-size: 2.9rem;
        align-self: center;
    }
    .header__p {
        font-size: 1.02rem;
        width: 65%;
        max-width: 800px;
    }
    /***SECTION MISION VISION VALORES
    ********************************************/
    .section-mision-vision-valores {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .3fr 1fr;
        grid-column-gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
    }
    .h2 {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: start;
        display: block;
        font-size: 1.7rem;
    }
    .caracteristicas {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .caracteristica-texto {
        grid-column: 1/2;
        grid-row: 3/4;
        justify-self: center;
    }
    .section-mision-vision-valores .figure {
        grid-column: 2/3;
        grid-row: 1/4;
    }
    .texto-caracteristica {
        font-size: 1.02rem;
    }

    /***SECTION SERVICES
    *********************************************/
    .section-services {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }
    .section-services .h2 {
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: center;
    }
    .texto-services {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 1.02rem;
    }
    .service-icon {
        font-size: 1.9rem;
    }
    .div-service .h3 {
        font-size: 1.3rem;
    }
    .service-descrip {
        font-size: 1rem;
        line-height: 1.5;
    }

    /***SECTION CHOOSE US
    *************************************************/
    .wrapper-choose-us {
        height: 50vh;
        grid-template-rows: repeat(4, 21%);
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        
    }
    .wrapper-choose-us .h2 {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 0;
    }
    .icon-choose-one {
        font-size: 2rem;
        align-self: flex-start
    }
    .icon-choose-two,
    .icon-choose-three {
        font-size: 2.5rem;
    }
    .p-choose-us {
        font-size: 2.5rem;
        align-content: flex-start;
        width: 75%;
    }
    /***SECTION CLUB FACTS
    ******************************************/
    .section-club-facts {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: .3fr .5fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }
    .section-club-facts .h2 {
        grid-column: 2/4;
        grid-row: 1/2;
        justify-self: center;
    }
    .texto-club-facts {
        grid-column: 1/-1;
        grid-row: 2/3;
        justify-self: center;
        align-self: flex-start;
        width: 70%;
    }
    .div-fact {
        height: 100%;
    }
    .div-fact:nth-of-type(1) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .div-fact:nth-of-type(2) {
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .div-fact:nth-of-type(3) {
        grid-row: 3/4;
        grid-column: 3/4;
    }
    .div-fact:nth-of-type(4) {
        grid-row: 3/4;
        grid-column: 4/5;
    }
    /***SECTION SUBSCRIBE
    *******************************************/
    .section-subscribe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto auto auto;
        padding-top: 6%;
        padding-bottom: 6%;
        justify-content: center;
    }
    .p-suscribe {
        grid-column: 1/2;
    }
    .section-subscribe .h2 {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: start;
        margin-top: 5%;
    }
    .texto-subscribe-form {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 13%;
    }
    .form {
        grid-column: 2/3;
        grid-row: 1/5;
        align-self: center;
        max-width: 600px;
    }
    /***SECTION TESTIMONIALS
    *****************************************/
    .section-testimonials {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        display: grid;
        padding-top: 0%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .section-testimonials .h2 {
        grid-row: 1/2;
        grid-column: 1/3;
        justify-self: center;
        margin-top: 8%;
        margin-bottom: 10%;
    }
    .div-testimonial:first-child {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .div-testimonial:last-child {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .div-testimonial .figure img {
        top: -12%;
        left: 5%;
        position: relative;
    }
    /***FOOTER
    ****************************************/
    .footer {
        grid-template-rows: repeat(4, auto);
        border: 1px solid transparent;
    }
    .footer-logo {
        margin: 0;
    }
    .go-top {
        margin: 0;
        align-self: center;
    }
    .ul-footer {
        margin-bottom: 2%;
        margin-top: 2%;
        max-width: 400px;
    }
    .footer-link {
       font-size: 1.2rem;
    }
    .copyright {
        margin-bottom: 2%;
    }
}