/********************************/
/**********IPAD 768X1024********/
/*******************************/
@media screen and (min-width: 768px){
    html {
        font-size: 20px;
    }
    /***HEADER
    ********************************/
    .header {
        height: 80vh;
    }
    .nav-header {
        height: 40%;
    }
    .div-logo {
        width: 30%;
    }
    .span-logo {
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .menu-icon {
        width: 6%;
    }
    .h1 {
        /*font-size: 45px;*/
        letter-spacing: 2px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .ul-nav {
        height: 25vh;
    }
    .header__p {
        width: 85%;
    }

    /***SECTION MISION VISION VALORES
    *******************************************/
    .section-mision-vision-valores {
        grid-template-rows: .1fr .1fr 1fr;
    }
    .caracteristicas {
        margin-bottom: 3%;
    }
    .h4 {
        margin-bottom: 3%;
    }
    .texto-caracteristica {
        margin-bottom: 3%;
    }
    /***SERVICES
    *****************************************/
    .section-services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr;
    }
    .section-services .h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .texto-services {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    /***SECTION CHOOSE-US
    ****************************************/
    .wrapper-choose-us {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 2fr;
        height: 50vh;
        grid-gap: 2%;
        margin: 6% auto;
    }
    .wrapper-choose-us .h2 {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .icon-choose-one {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .icon-choose-two {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .icon-choose-three {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .wrapper-choose-us .h3:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 1.25rem;
        text-align: center;
    }
    .wrapper-choose-us .h3:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 1.25rem;
        text-align: center;
    }
    .wrapper-choose-us .h3:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 3/4;
        font-size: 1.25rem;
        text-align: center;
    }
    .p-choose-us:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 0.9rem;
    }
    .p-choose-us:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 4/5;
        font-size: 0.9rem;
    }
    .p-choose-us:nth-of-type(3) {
        grid-column: 3/4;
        grid-row: 4/5;
        font-size: 0.9rem;
    }
    /***SECTION CLUB FACTS
    ****************************************/
    .section-club-facts {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr .5fr 1fr 1fr;
        grid-gap: 20px;
    }
    .section-club-facts .h2 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .texto-club-facts {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .div-fact:last-child,
    .div-fact:nth-of-type(3) {
        margin-bottom: 20%;
    }
    /***SECTION SUBSCRIBE
    **************************************/
    .section-subscribe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .texto-subscribe {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .p-suscribe {
        margin-bottom: 2%;
    }
    .section-subscribe .h2 {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .texto-subscribe-form {
        font-size: 0.9rem;
        align-self: flex-start;
    }
    .form {
        margin: 3% 0;
        height: 100px;
    }
    /***SECTION TESTIMONIALS
    ****************************************/
    .div-testimonial {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr .5fr .5fr; 
    }
    .div-testimonial .figure {
        width: 90%;
        grid-column: 1/2;
        grid-row: 1/4;
    }
    blockquote {
        font-size: 0.85rem;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 0;
        align-self: center;
    }
    .p-name-customer {
        font-size: 1.15rem;
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: center;
    }
    .p-customer-descrip {
        font-size: 0.85rem;
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .div-testimonial:last-child {
        margin-bottom: 8%;
    }
    /***FOOTER
    ******************************/
    .footer-logo {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .go-top {
        margin-bottom: 5%;
    }
    .ul-footer {
        width: 40%;
        margin-bottom: 5%;
    }
    .copyright {
        margin-bottom: 5%;
        font-size: 0.9rem;
    }
}
